.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.card {
  width: 60%;
  min-width: 350px;
  margin: 50px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-flow: column;
}

.cardHeader {
  padding: 5px;
  font-size: 25px;
  color: #24305e;
  display: flex;
  justify-content: space-between;
}

.cardContent {
  padding: 20px;
  flex: 1;
  overflow: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  color: #24305e;
}

.date {
  margin: 10px;
}

.noEventDescription {
  font-style: italic;
  font-size: 20px;
}
