.container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.card {
    width: 75%;
    min-width: 300px;
    margin: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-flow: column;
}

.cardHeader {
    height: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 100px;
}

.cardContent {
    flex: 1;
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.cardFooter {
    height: 50px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}
