.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
}

.cardContent {
  width: 75%;
  min-width: 300px;
  overflow: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.buttonContainer {
  margin-top: 37.6px;
  display: flex;
  justify-content: center;
}

.emptyText {
  font-style: italic;
  color: #24305e;
}
