.playlist {
    padding-right: 10%;
    padding-left: 10%;
}

.tracks {
    width: 100%;
}

.headerRow {
    font-weight: bold;
    background-color: #a8d0e6;
}

.tableRow:hover {
    background-color: #f76c6c;
}

.emptyPlaylist {
    text-align: center;
}
