.title {
    color: #24305e;
    font-size: 30px;
}

.playlist {
    padding-left: 15%;
    padding-right: 15%;
}

.tracks {
    width: 100%;
}

.headerRow {
    font-weight: bold;
    background-color: #24305e;
    cursor: default;
}

.headerText {
    color: #ffffff;
}

.tableRow:hover {
    background-color: #a8d0e6;
    cursor: default;
}

.emptyPlaylist {
    text-align: center;
}

.spotifyActionButton {
    margin: 5px;
}
